<div class="modal-header">
  <h3 class="modal-title">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <ng-container *ngIf="data">
      Modify Form
    </ng-container>
    <ng-container *ngIf="!data">
      Add Form
    </ng-container>
  </h3>
  <button type="button" class="close" aria-label="Close" mat-dialog-close><span aria-hidden="true">&times;</span></button>
</div>

<form [formGroup]="formMain" novalidate (ngSubmit)="userSubmit($event)">
  <div class="modal-body" id="modal-body">
    <mat-form-field class="example-full-width">
      <mat-label>Select A Truck</mat-label>
      <mat-select placeholder="Select A Vehicle" formControlName="VehicleId">
        <mat-option *ngFor="let vehicle of vehicleAvailable" [value]="vehicle.Id" (click)="setFormType(vehicle)">
          {{ vehicle.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Select A Camera</mat-label>
      <mat-select placeholder="Select A Camera" formControlName="CameraId">
        <mat-option *ngFor="let camera of cameraAvailable" [value]="camera.Id" (click)="setFormType(camera)">
          {{ camera.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <app-form-field formControlName="Location" placeholder="Location"></app-form-field>
    </div>
    <div>
      <app-form-field formControlName="Name" placeholder="Name"></app-form-field>
    </div>
  </div>
</form>

<div class="modal-footer" style="justify-content: space-between;">
  <button type="button" mat-button class="float-left pull-left dismiss" mat-dialog-close>
    <i class="fa fa-remove" aria-hidden="true"></i> Cancel
  </button>
  <button type="button" mat-button class="mat-reverse" (click)="submit()" aria-label="Close">
    <i class="fa fa-check" aria-hidden="true"></i> Confirm
  </button>
</div>
